header{
    display: flex;
    height: 5rem;
    background-color: #000;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header img{
    margin-left: 20%;
    margin-right: 10%;
}
.nav-icons{
    display: flex;
}
.services{
    display: flex;
    position: relative;
}
.services img{
    width: 100%;
    height: 50rem;;
}
.local-hours-content{
    display: flex;
}
.hours{
    position: relative;
    display: flex;
}
.hours img{
    width: 100%;
    height: 30rem;
}
.hours button{
    color: #fff;
    font-size: 1.5rem;
    background-color: #000;
    position: absolute;
    border-radius: 0.5rem;
    bottom: 2.5rem;
    left: 38%;
    padding: 1.5rem 4.6rem;
}
.location{
    margin: auto auto;
    margin-left: 4.2rem;
    width: 160%;
}
.location iframe{
    height: 300px;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
}
.footer-icons img{
    height: 48px;
    width: 48px;
}
.logo-barra{
    height: 11rem;
    width: 11rem;
}
.footer-infos{
    margin: auto 0;
    display: flex;
}
.place-info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
header a{
    background-color: rgb(218, 218, 218);
    margin: auto;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.about{
    display: flex;
    flex-direction: column;
}
.about h2{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.aboutus{
    display: flex;
    height: 35rem;
    border-bottom: 2px solid #000;
}
.aboutus img{
    width: 100%;
}
.download{
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.download p{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}
.icons{
    display: flex;
    left: 31%;
    bottom: 3.5rem;
    position: absolute;
    gap: 2.8rem;
}
.icons img{
    width: 50px;
    height: 50px;
}
.icons button{
    background-color: #ebebeb;
    padding: .8rem 5rem;
}
.icons button, .icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: .5rem;
    cursor: pointer;
}
.feedbacks{
    display: flex;
}
.feedbacks img{
    width: 50%;
}
button{
    transition: transform .2s ease-in-out;
}
button:hover{
    transform: scale(1.05);
}
@media (max-width: 768px) {
    p, .aboutus p, .icons button{
        font-size: 0.5rem;
    }
    .download p{
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    .nav-icons, header a{
        display: none;
    }
    .aboutus{
        display: flex;
        height: 13rem;
        border-bottom: 2px solid #000;
    }
    .about h2{
        font-family: "Special Gothic Expanded One", sans-serif;
        font-weight: 400;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    .local-hours-content{
        display: flex;
    }
    .services > img{
        width: 100%;
        height: 20rem;
    }
    .icons{
        display: flex;
        left: 30%;
        bottom: 1rem;
        position: absolute;
        gap: 0.6rem;
    }
    .icons img{
        width: 20px;
        height: 20px;
    }
    .icons button{
        background-color: #ebebeb;
        padding: .3rem .7rem;
    }
    .hours img, .hours a{
        width: 100%;
        height: 11rem;
    }
    .hours button{
        font-size: .6rem;
        position: absolute;
        border-radius: 0.5rem;
        bottom: .4rem;
        left: 37%;
        padding: .5rem 0.5rem;
    }
    .feedbacks{
        display: flex;
        flex-direction: column ;
    }
    .feedbacks img{
        width: 100%;
        height: 12rem;
    }
    header{
        height: 4.5rem;
        background-color: #000;
        position: relative;
        justify-content: center;
    }
    header img{
        height: 4.5rem;
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }
    .place-info p{
        font-size: 0.8rem
    }
    .footer{
        align-items: center;
        height: 8rem;
    }
    .footer-icons img{
        margin-left: .4rem;
        height: 30px;
        width: 30px;
    }
    .logo-barra{
        height: 5rem;
        width: 5rem;
    }
}
@media (max-width: 1024px){
    header img{
        margin-left: 5%;
        margin-right: 2rem;
}
}
