header{
    display: flex;
    height: 5rem;
    background-color: #000;
    color: white;
    position: sticky;
    top: 0;
}
header img{
    margin-left: 20%;
    margin-right: 10%;
}
.nav-icons{
    display: flex;
}
.services{
    margin-top: 2rem;
}
.local-hours-content{
    display: flex;
}
.hours{
    display: flex;
}
.hours img{
    width: 18rem;
    height: 370px;
}
.location{
    margin: auto auto;
    margin-left: 4.2rem;
    width: 160%;
}
.location iframe{
    height: 300px;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
}
.footer-icons img{
    height: 48px;
    width: 48px;
}
.logo-barra{
    height: 11rem;
    width: 11rem;
}
.footer-infos{
    margin: auto 0;
    display: flex;
}
.place-info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
header a{
    background-color: rgb(218, 218, 218);
    margin: auto;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.about{
    display: flex;
    flex-direction: column;
}
.about h2{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.aboutus{
    display: flex;
    height: 30rem;
    border-bottom: 2px solid #000;
}
.aboutus p{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-weight: 700;
    line-height: 2rem;
    font-size: 1.2rem;
    padding: 4rem;
    margin-top: -2rem; */
}
.aboutus img{
    border-radius: 0.1rem;
    width: 35%;
}
.download{
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.download p{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}
.icons{
    display: flex;
    gap: 2rem;
}
.icons img{
    width: 50px;
    height: 50px;
}
.icons button, .icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: .5rem;
    cursor: pointer;
}
.feedbacks{
    display: flex;
}
.feedbacks img{
    width: 25%;
}
button{
    transition: transform .2s ease-in-out;
}
button:hover{
    transform: scale(1.05);
}
@media (max-width: 425px) {
    p, .aboutus p{
        font-size: 0.5rem;
    }
    .download p{
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    .aboutus p{
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-weight: 700;
        padding: 1rem;
        margin-top: 0;
    }
    .nav-icons, header a{
        display: none;
    }
    .aboutus{
        display: flex;
        height: 10rem;
        border-bottom: 2px solid #000;
    }
    .about h2{
        font-family: "Special Gothic Expanded One", sans-serif;
        font-weight: 400;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    .services{
        margin-top: 1rem;
    }
    .local-hours-content{
        display: flex;
        justify-content: center;
    }
    .location{ 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin-left: 0;
    }
    .location iframe{
        margin: auto auto;
        height: 8rem;
        width: 8rem;
    }
   .hours img{
        width: 8rem;
        height: 10rem;
    }
    .feedbacks{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 colunas iguais */
    }
    .feedbacks img{
        width: 100%;
        height: 14rem;
    }
    header{
        height: 5rem;
        background-color: #000;
        position: relative;
        justify-content: center;
    }
    header img{
        height: 5rem;
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }
    .place-info p{
        font-size: 0.8rem
    }
    .footer{
        align-items: center;
        height: 8rem;
    }
    .footer-icons img{
        margin-left: .4rem;
        height: 30px;
        width: 30px;
    }
    .logo-barra{
        height: 5rem;
        width: 5rem;
    }
}

